<%- include('../partials/header') %>
<h2><%= user.name %></h2>
<p><strong>Email:</strong> <%= user.email %></p>
<p><strong>Role:</strong> <%= user.role %></p>
<a href="/users/<%= user._id %>/edit">Edit</a>
<form action="/users/<%= user._id %>?_method=DELETE" method="POST"
style="display:inline">
<button type="submit">Delete</button>
</form>